body{
    min-height: 100vh;
    width: 100%;
}
header{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0 0 50px;
    justify-content: space-around;
}
.search-bar{
    display: flex;
}
input{
    width: 270px;
    height: 45px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border-right: none;
    margin-top: 15px;
}
header .search{
    height: 45px;
    border-left: none;
    border-radius: 0 20px 20px 0;
    margin-top: 15px;
}
header button:hover{
    cursor: pointer;
}
.login{
    height: 45px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 16px 20px;
    margin-left: 250px;
    border: none;
    background-color: blue;
}
.wrapper{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    overflow: hidden;
    margin-block: 20px ;
}
.items img{
    width: 100%;
}
.items img:hover{
    transform: translateZ(20px);
}
.items{
    display: flex;
    width: calc(250px * 16);
    animation: scroll 40s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 11));
    }
}
.items:hover{
    animation-play-state: paused;
}
.block{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

/* view */

.tryThis{
    margin-left: 58px;
}
.view{
    display: flex;
    flex-wrap: wrap;
    margin:0 0 3% 100px;
}

@keyframes appear{
    from
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);  
    }
}
.item{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin: 20px;
    
}
.item img{
    height: 300px;
}
.imgItem1{
    width: 450px;
}
.imgItem2{
    width: 550px;
}
.showMore{
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    margin-left: 30px;
}
.showMore a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
@media only screen and (max-width:570px){
    .view{
        margin-left: 35px;
    }
    .item {
        margin: 20px 0;
        /* animation-range: entry 0% 30%; */
    }
    .item img{
        width: 400px;
    }
}
